/* You can add global styles to this file, and also import other style files */
body {
    background-color: #f5f5f5;
}

h1, h3 {
  text-align: center;
  word-wrap: break-word;
}

.scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar-thumb
{
	background-color: #191e23;
}

.navbar-sidebar {
    background: #292e33;
    border: 0;
    border-radius: 0;
    bottom: 0;
    left: -240px;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 55px;
    width: 240px;
    z-index: 1029;
}

@media (min-width: 992px) {
    .navbar-sidebar {
        box-shadow: none!important;
        left: 0;
        overflow-x: hidden;
        overflow-y: auto;
        padding-right: 0;
    }
}

.navbar-sidebar {
    text-align: initial;
}

.navbar-sidebar .section {
    color: #fff;
    display: block;
    padding: 0 20px 20px 12px;
    border-bottom: 1px solid #393f44;
    margin-bottom: 10px;
}

.navbar-sidebar .title {
    font-size: 16px;
    line-height: 40px;
    margin-top: 16px;
}

.navbar-sidebar ul {
    list-style: none;
    margin: 0 -20px 0 -20px;
    padding: 0;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.navbar-sidebar ul li a {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    line-height: 24px;
    display: block;
    padding: 0 20px 0 20px;
}

.navbar-sidebar>div>ul>li a:hover {
    background: rgba(101,109,115,.15);
}

.navbar-sidebar input {
    width: 200px;
    color: #363636;
}

.navbar-sidebar .spinner {
    float: right;
    margin-top: 20px;
}

.container-fluid {
    padding-left: 45px;
    padding-bottom: 50px;
    padding-top: 55px;
}

@media (min-width: 992px) {
    .container-fluid {
        padding-left: 260px;
    }
}
