<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Chart POC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="libs/jquery-ui/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="libs/jqueryui-timepicker-addon/dist/jquery-ui-timepicker-addon.css">
    <link rel="stylesheet" href="libs/hawkular-charts/css/hawkular-charts.css">

    <script type="text/javascript" src="libs/jquery/dist/jquery.js" charset="utf-8"></script>
    <script type="text/javascript" src="libs/jquery-ui/jquery-ui.js" charset="utf-8"></script>
    <script type="text/javascript" src="libs/jqueryui-timepicker-addon/dist/jquery-ui-timepicker-addon.js"
            charset="utf-8"></script>
    <script type="text/javascript" src="libs/angular/angular.js" charset="utf-8"></script>
    <script type="text/javascript" src="libs/d3/d3.js" charset="utf-8"></script>
    <script type="text/javascript" src="libs/d3-tip/index.js" charset="utf-8"></script>
    <script type="text/javascript" src="libs/moment/moment.js"></script>
    <script type="text/javascript" src="libs/hawkular-charts/hawkular-charts.js"></script>

    <script>
        $(function () {
            $("input.ui-datetime").datetimepicker({
                dateFormat: "yy-mm-dd",
                timeFormat: "HH:mm:ss",
                showSecond: true
            });
        });

        var myApp = angular.module("myApp", ["hawkular.charts"]);

        myApp.controller("AvailTestController", function ($scope, $http) {
            var dateTimeFormat = "YYYY-MM-DD HH:mm:ss";

            $scope.reset = function () {
                $scope.url = "http://localhost:8080/hawkular/metrics";
                $scope.tenantId = "default";
                $scope.metric = "test";

                var now = moment();
                $scope.start = now.clone().subtract(5, 'm').format(dateTimeFormat);
                $scope.end = now.format(dateTimeFormat);

                $scope.availAllChartData = [];
            };

            $scope.hasData = function () {
                return $scope.availAllChartData.length > 0;
            };

            $scope.update = function () {
                var start = moment($scope.start, dateTimeFormat, true);
                if (!start.isValid()) {
                    error("Invalid start moment");
                    return;
                }
                var end = moment($scope.end, dateTimeFormat, true);
                if (!end.isValid()) {
                    error("Invalid end moment");
                    return;
                }
                if (end - start <= 0) {
                    error("Invalid time range");
                    return;
                }

                $http.get($scope.url + "/availability/" + $scope.metric + "/data", {
                    headers: {
                        "Hawkular-Tenant": $scope.tenantId
                    },
                    params: {
                        "start": start.valueOf(),
                        "end": end.valueOf(),
                        "distinct": true
                    }
                }).then(function (response) {
                    $scope.availAllChartData = response.data;
                }, function (response) {
                    console.error(response);
                    window.alert("HTTP error")
                });
            };

            $scope.reset();
        });

        function error(msg) {
            window.alert("ERROR: " + msg);
        }

    </script>

</head>
<body ng-app="myApp">

<h3>Availability</h3>

<div ng-controller="AvailTestController">
    <div>URL: <input ng-model="url"></div>
    <div>Tenant: <input ng-model="tenantId"></div>
    <div>Metric: <input ng-model="metric"></div>
    <div>Start Date: <input ng-model="start" class="ui-datetime"></div>
    <div>End Date: <input ng-model="end" class="ui-datetime"></div>
    <div>
        <button ng-click="update()">Update</button>
        <button ng-click="reset()">Reset</button>
    </div>
    <hr>
    <span ng-hide="hasData()">No data</span>
    <availability-chart ng-show="hasData()" data="{{availAllChartData}}"></availability-chart>
    <hr>
</div>

</body>
</html>
