#line-chart {
    margin-top: 50px;
}

.chart .spinner {
    position: absolute;
    top: 109px;
    right: 40px;
}

.chart .options {
    float: left;
    margin-bottom: 20px;
}

.chart {
    min-height: 400px;
}

.checkbox-inline {
    margin: 0;
}