<p class="text-muted">Create Historical data by inserting random values of data for a date range every X
    minutes/hours</p>

<form class="form-horizontal" name="advancedRangeInsertForm" role="form" novalidate>
    <div class="form-group">
        <label class="col-sm-2 control-label">ID</label>

        <div class="col-sm-4">
            <input type="text" class="form-control" ng-model="vm.rangeInsertData.id" required
                   ng-enter="vm.rangeInsert();"
                   placeholder="Enter Id...">
            <span class="help-block">Example: 100, apache3.cpu  </span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Every</label>

        <div class="col-sm-5">
            <select ng-model="vm.rangeInsertData.selectedTimeInterval"
                    ng-options="value for value in vm.timeInterval"></select>
            <span class="help-block"> (Time Interval In Minutes.)</span>
        </div>
        <div class="col-sm-2">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">For</label>

        <div class="col-sm-5">
            <select ng-model="vm.rangeInsertData.selectedDuration"
                    ng-options="duration for duration in vm.rangeDurations"></select>
            <span class="help-block"> (In Days.)</span>
        </div>
        <div class="col-sm-2">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="button" ng-click="vm.rangeInsert()"
                    ng-disabled="!advancedRangeInsertForm.$valid"
                    class="btn btn-primary">Insert Data
            </button>
        </div>
    </div>


</form>
