<div collapse="vm.chartParams.collapseTable">
    <h4>Data Points: {{vm.chartData.dataPoints.length}}</h4>
    <table class="table table-hover" style="width:500px;">
        <thead>
        <tr>
            <th> Time</th>
            <th> Avg</th>
            <th> Min</th>
            <th> Max</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="chartPoint in vm.chartData.dataPoints | orderBy:timestamp:true">
            <td>{{chartPoint.date | date: 'medium'}}</td>
            <td>{{chartPoint.avg|number:2}}</td>
            <td>{{chartPoint.min|number:2}}</td>
            <td>{{chartPoint.max|number:2}}</td>
        </tr>

        </tbody>

    </table>
</div>
