<div class="panel panel-default" style="width:880px" ng-controller="ChartController as vm">
    <div class="panel-body">
        <div class="well">
            <small style="margin-left: 15px" class="graphDateTimeRangeLabel"></small>

            <form class="form-horizontal" name="chartForm" role="form" novalidate >

                <div class="form-group">
                    <label class="col-sm-2 control-label">ID</label>

                    <div class="col-sm-5">
                        <input type="text" class="form-control" name="searchId" ng-model="vm.searchId"
                               ng-enter="vm.refreshChartDataNow();"
                               placeholder="Enter Id..." required ng-minlength="1">
                        <span class="error-message"
                              ng-show="chartForm.searchId.$dirty && chartForm.searchId.$error.required"> * Required.</span>
                        <span class="help-block">Example: 100, apache3.cpu1  </span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <relative-time-range-button-bar style="margin-left: 140px;"
                                                        start-time-stamp="vm.startTimestamp"
                                                        end-time-stamp="vm..endTimeStamp">
                        </relative-time-range-button-bar>

                        <input type="text" style="margin-left: 20px;text-align: center;" ng-model="vm.dateRange" readonly disbabled/>
                        <p></p>
                    </div>
                </div>

                <!--<div class="form-group">-->
                    <!--<label class="col-sm-2 control-label">Start</label>-->

                    <!--<div class="col-sm-6">-->
                        <!--<div class="dropdown">-->
                            <!--<a class="dropdown-toggle" id="dropdownStart" role="button" data-toggle="dropdown"-->
                               <!--data-target="#" href="#">-->
                                <!--<div class="input-group">-->
                                    <!--<input type="text" class="form-control"-->
                                           <!--data-ng-model="vm.startTimeStamp">-->
                                    <!--<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>-->
                                <!--</div>-->
                            <!--</a>-->
                            <!--<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">-->
                                <!--<datetimepicker data-ng-model="vm.startTimeStamp"-->
                                                <!--data-datetimepicker-config="{ dropdownSelector: '#dropdownStart' }"/>-->
                            <!--</ul>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->


                <!--<div class="form-group">-->
                    <!--<label class="col-sm-2 control-label">End</label>-->

                    <!--<div class="col-sm-6">-->

                        <!--<div class="dropdown">-->
                            <!--<a class="dropdown-toggle" id="dropdownEnd" role="button" data-toggle="dropdown"-->
                               <!--data-target="#" href="#">-->
                                <!--<div class="input-group">-->
                                    <!--<input type="text" class="form-control"-->
                                           <!--data-ng-model="vm.endTimeStamp">-->
                                        <!--<span class="input-group-addon"><i-->
                                                <!--class="glyphicon glyphicon-calendar"></i></span>-->
                                <!--</div>-->
                            <!--</a>-->
                            <!--<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">-->
                                <!--<datetimepicker data-ng-model="vm.endTimeStamp"-->
                                                <!--data-datetimepicker-config="{ dropdownSelector: '#dropdownEnd' }"/>-->
                            <!--</ul>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="btn-group" ng-disabled="!chartForm.$valid || vm.showAutoRefreshCancel" dropdown>
                            <button type="button" class="btn btn-primary" ng-disabled="!chartForm.$valid || vm.showAutoRefreshCancel"
                                    ng-click="vm.refreshChartDataNow()">Refresh
                            </button>
                            <button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="!chartForm.$valid || vm.showAutoRefreshCancel">
                                <span class="caret"></span>
                                <span class="sr-only">Refresh</span>
                            </button>
                            <ul class="dropdown-menu" role="menu" ng-disabled="!chartForm.$valid">
                                <li><a href="#" ng-click="vm.refreshHistoricalChartData()">Refresh from History</a></li>
                                <li><a href="#" ng-click="vm.autoRefresh(5)">Auto Refresh (every 5s)</a></li>
                                <li><a href="#" ng-click="vm.autoRefresh(30)">Auto Refresh (every 30s)</a></li>
                                <li><a href="#" ng-click="vm.autoRefresh(60)">Auto Refresh (every 1m)</a></li>
                            </ul>
                        </div>
                        <button style="margin-left: 15px" type="button" class="btn-small btn-danger" ng-hide="!vm.showAutoRefreshCancel" ng-click="vm.cancelAutoRefresh()">Stop</button>
                        <span class="help-block">Default is Refresh to Now</span>
                    </div>
                </div>
            </form>
        </div>

        <div ng-show="vm.chartData.dataPoints.length > 4">
        <div id="stackedBarChart" style="height:270px">
                <!-- HINT: colors for the chart can be changed in the d3-chart.css -->
                <hawkular-chart
                        data="{{vm.chartData.dataPoints}}"
                        annotation-data="{{vm.chartData.annotationDataPoints}}"
                        previous-range-data="{{vm.chartData.prevDataPoints}}"
                        context-data="{{vm.chartData.contextDataPoints}}"
                        multi-chart-overlay-data="{{vm.multiChartOverlayData}}"
                        chart-type="{{vm.chartType}}"
                        show-avg-line="{{vm.showAvgLine}}"
                        hide-high-low-values="{{vm.hideHighLowValues}}"
                        chart-title="{{'Metrics Id: '+vm.searchId}}"
                        chart-height="250"></hawkular-chart>
            </div>

            <div style="margin-top: 30px;">
                <button class="btn btn-sm" ng-click="vm.showPreviousTimeRange()" style="margin-left:90px;"
                        ng-show="vm.chartData.dataPoints.length > 2">&lt;&lt; Prev.
                </button>
                <button class="btn btn-sm" style="float:right;margin-right: 90px;" ng-click="vm.showNextTimeRange()"
                        ng-show="vm.chartData.dataPoints.length > 2" ng-disabled="!vm.hasNext();">Next &gt;&gt;</button>
            </div>
            <br/>
            <br/>

            <div class="form-group">

                <label class="col-sm-2 control-label">Chart Type:</label>

                <div class="col-sm-10">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-sm"
                                ng-model="vm.chartType" btn-radio="value"
                                ng-repeat="value in vm.chartTypes"
                                >{{value}}
                        </button>
                    </div>
                </div>
            </div>


            <!--
            <div class="form-group" style="margin-top: 15px;">
                <label class="col-sm-2 control-label">Features:</label>

                <div class="col-sm-10">
                    <div class="btn-group">
                        <label class="btn btn-primary btn-sm" ng-model="vm.showAvgLine" btn-checkbox>Show Avg. Line</label>
                        <label class="btn btn-primary btn-sm" ng-model="vm.hideHighLowValues" btn-checkbox>Hide High/Low Values</label>
                        <label class="btn btn-primary btn-sm" ng-model="vm.showPreviousRangeDataOverlay" btn-checkbox
                               ng-click="vm.togglePreviousRangeDataOverlay()">Overlay Prev. Range</label>
                        <label class="btn btn-primary btn-sm" ng-model="vm.showContextZoom" btn-checkbox ng-click="vm.toggleContextZoom()">Show Context Zoom</label>
                    </div>

                </div>
            </div>

            <ng-include src="'views/multi-metric-section.html'"></ng-include>

            -->

        </div>
    </div>
</div>
