<div class="panel panel-default" style="width:880px" ng-controller="InsertMetricsController as vm">

    <div class="panel-body">

        <accordion>

            <accordion-group heading="Quick Insert" is-open="vm.showOpenGroup">
                <div ng-include="'views/quick-insert-tab.html'"></div>
            </accordion-group>


            <accordion-group heading="Raw Json Insert (multiple)">
                <div ng-include="'views/multiple-insert-tab.html'"></div>
            </accordion-group>


            <accordion-group heading="Advanced Range Insert">
                <div ng-include="'views/advanced-range-insert-tab.html'"></div>
            </accordion-group>


            <accordion-group heading="Streaming Metrics">
                <div ng-include="'views/streaming-insert-tab.html'"></div>
            </accordion-group>

        </accordion>


    </div>
</div>
