<div ui-view>
    <div ng-controller="ConfigController" class="jumbotron standard-width" style="height: 60px;">
        <h3 style="margin-top: -10px;">RHQ-Metrics Data Explorer</h3>
        <h6 style="margin-top: -5px;">A tool for exploring RHQ-Metrics</h6>
        <button class="btn btn-xs" style="float:right;margin-top:-60px;margin-right:-60px;" ng-click="vm.openConfig()">
            <i class="glyphicon glyphicon-cog"></i>
        </button>
        <ng-include src="'views/config-dialog.html'"></ng-include>
    </div>


    <tabset style="margin-top: -25px;">
        <tab ui-sref="insert">
            <tab-heading>
                <i class="glyphicon glyphicon-save"></i> Populate Data
            </tab-heading>

            <ng-include src="'views/insert-tab.html'"></ng-include>
        </tab>

        <tab ui-sref="chart">
            <tab-heading>
                <i class="glyphicon glyphicon-dashboard"></i> Charting
            </tab-heading>

            <ng-include src="'views/chart-tab.html'"></ng-include>

        </tab>

    </tabset>


</div>

