<div ng-controller="MetricOverlayController as mc" class="form-group">

    <label class="col-sm-2 control-label">Metric Overlay:</label>

    <div class="col-sm-8">
        <div class="input-group input-group-sm">
            <input type="text" class="form-control" name="newMetric" ng-model="mc.multiChart.newMetric"
                   ng-enter="mc.addMetric();"
                   placeholder="Add comma separated Metrics..." required ng-minlength="1">
        <span class="input-group-btn">
        <button type="button" class="btn btn-primary" ng-click="mc.addMetric()">
            <i class="glyphicon glyphicon-plus"></i></button>
            </span>
        </div>
    </div>
</div>
