<p class="text-muted">Create streaming metrics for the future that generate random numbers every X
    minutes </p>

<form class="form-horizontal" name="streamingInsertForm" novalidate role="form">
    <div class="form-group">
        <label for="streamingInsertId" class="col-sm-2 control-label">ID</label>

        <div class="col-sm-4">
            <input type="text" class="form-control" id="streamingInsertId"
                   name="streamingInsetId" ng-model="vm.streamingInsertData.id"
                   required
                   ng-enter="vm.startStreaming();"
                   placeholder="Enter Id...">
            <span class="help-block">Example: 100, apache3.cpu  </span>
        </div>
    </div>

    <h5>Random Values </h5>

    <div class="form-group">
        <label class="col-sm-2 control-label">From </label>

        <div class="col-sm-2">
            <input type="number" min="0" max="100" step="5" class="form-control" name="startNumber"
                   ng-model="vm.streamingInsertData.startNumber" required>
        </div>

        <label class="col-sm-1 control-label">To</label>

        <div class="col-sm-2">
            <input type="number" min="10" max="1000" step="25" class="form-control" name="endNumber"
                   ng-model="vm.streamingInsertData.endNumber" required>
        </div>
    </div>


    <div class="form-group">
        <label class="col-sm-2 control-label">Every</label>

        <div class="col-sm-10">

            <div class="btn-group">
                <button type="button" class="btn btn-default"
                        ng-model="vm.streamingInsertData.selectedRefreshInterval"
                        btn-radio="value.range"
                        ng-repeat="value in vm.streamingTimeRanges"
                        >{{value.range}}
                </button>
            </div>

        </div>
        <div class="col-sm-2">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-1">
            <button type="button" ng-disabled="!streamingInsertForm.$valid"
                    ng-click="vm.startStreaming()"
                    class="btn btn-primary">Start
            </button>
        </div>
        <div class="col-sm-1">
            <button type="button" ng-disabled="!vm.streamingInsertData.isStreamingStarted"
                    ng-click="vm.stopStreaming()" class="btn btn-danger">Stop
            </button>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Count:</label>

        <div class="col-sm-2">
            <input type="text" class="form-control" readonly ng-model="vm.streamingInsertData.count">
        </div>

        <label class="col-sm-1 control-label">Last:</label>

        <div class="col-sm-2">
            <input type="text" class="form-control" readonly
                   ng-model="vm.streamingInsertData.lastStreamedValue">
        </div>
    </div>

</form>
