ul {
	margin: 0;
	padding: 0;
}

svg {
    background: #ffffff;
    border: solid 1px #ccc;
    font: 12px sans-serif;
    shape-rendering: crispEdges;
}

svg circle {
    r: 3;
}

.pageHolder{
  overflow: auto;
  width: 100%;
}

.search-field {
	background-color: #f0f0f0;
	padding: 20px;
	margin: 0;
	border-bottom: 1px solid #303030;
	background: rgb(60,60,60); /* Old browsers */
	background: -moz-linear-gradient(top,  rgb(60,60,60) 0%, rgb(30,30,30) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(60,60,60)), color-stop(100%,rgb(30,30,30))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgb(60,60,60) 0%,rgb(30,30,30) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgb(60,60,60) 0%,rgb(30,30,30) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgb(60,60,60) 0%,rgb(30,30,30) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgb(60,60,60) 0%,rgb(30,30,30) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c3c3c', endColorstr='#1e1e1e',GradientType=0 ); /* IE6-9 */
}

.search-message {
	position: relative;
	top: 1px;
	color: #a0a0a0;
	margin-left: 4px;
	font-size: 14px;
	line-height: 20px;
}

.size-controls {
	position: absolute;
	right: 0;
	top: 0;
	padding: 20px;
}

.result-message {
	color: #777;
	margin: 10px 0 0 0;
	padding: 0 20px;
}

.results-list li {
	position: relative;
	top: 0;
	display: inline-block;
	margin: 16px;
	vertical-align: middle;
	padding-bottom: 40px;
}

.results-list li img {
	display: block;
	width: 100%;	border: 5px solid #fff;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, .9);
}

.results-list .title {
	position: absolute;
	bottom: 0;
	width: 100%;
	border: 5px solid transparent;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-shadow: 0 0 8px rgba(0, 0, 0, .9);
}

.search-field {
	vertical-align: top;
}

.search-field button {
	margin-left: 8px;
	vertical-align: text-bottom;
}

.small-thumbs li {
	width: 150px;
}

.small-thumbs li img {
	min-height: 100px;
}

.large-thumbs li {
	width: 300px;
}

.large-thumbs li img {
	min-height: 200px;
}