<html ng-app="rhqApp">
<head>
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css"/>
    <link rel="stylesheet" href="css/rhq-app.css" type="text/css"/>
</head>
<body>

<div ng-controller="MetricsController" ng-init="init('graph')">

    <form class="search-field" ng-submit="submitSearch()" ng-cloak>
        <img src="images/rhq_logo_28px.png"/>

        <span class="label label-success">{{scheduleName}}</span>
        <rhq-metrics-picker style="vertical-align: middle; float: right"></rhq-metrics-picker>
        <div class="btn-group" data-toggle="buttons-radio" style="float: right">
            <!-- btn-radio is the value to be evaluated -->
            <button type="button" class="btn btn-primary" ng-model="displayMode" btn-radio="'Raw'">Raw</button>
            <button type="button" class="btn btn-primary" ng-model="displayMode" btn-radio="'Bucket60'">60 Buckets</button>
            <button type="button" class="btn btn-primary" ng-model="displayMode" btn-radio="'BucketDay'">Hour Bucket</button>
            <button type="button" class="btn btn-primary" ng-model="displayMode" btn-radio="'ClusterDay'">Hour Cluster</button>
        </div>
        <div style="float: right; padding-right: 15px; padding-left: 15px;">
        <button type="button" class="btn btn-primary" ng-click="reload()"
                ng-disabled="!schedule"
                >Reload</button>
        </div>

    </form>

    <table>
        <tr>
            <td>
                <div id="graph" style="padding: 10px">


                    <svg width="800" height="480"></svg>
                </div>
            </td>
        </tr>
    </table>

</div>

<script src = "js/angular.min.js" type="application/javascript"></script>
<script src = "js/ui-bootstrap-0.6.0.js" type="application/javascript"></script>
<script src = "js/rhqModules.js" type="application/javascript"></script>
<script src = "js/angularApp.js" type="text/javascript"></script>
<script src = "js/angularControllers.js" type="text/javascript"></script>
<script src = "js/angularMetricsService.js" type="text/javascript"></script>

<script type="text/javascript" src="js/d3.js"></script>
<script type="text/javascript" src="js/d3.layout.js"></script>
<script type="text/javascript" src="js/d3.time.js"></script>

<script src = "js/rhq.js" type="application/javascript"></script>


</body>
</html>