<div class="panel panel-default" style="width:880px" ng-controller="ChartController as vm">
    <div class="panel-body">
        <div class="well">
            <small style="margin-left: 15px" class="graphDateTimeRangeLabel"></small>

            <form class="form-horizontal" name="chartForm" role="form" novalidate ng-submit="vm.refreshChartData()">

                <div class="form-group">
                    <label class="col-sm-2 control-label">ID</label>

                    <div class="col-sm-5">
                        <input type="text" class="form-control" name="searchId" ng-model="vm.chartParams.searchId"
                               ng-enter="vm.refreshChartData();"
                               placeholder="Enter Id..." required ng-minlength="1">
                        <span class="error-message"
                              ng-show="chartForm.searchId.$dirty && chartForm.searchId.$error.required"> * Required.</span>
                        <span class="help-block">Example: 100, apache3.cpu1  </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Start</label>

                    <div class="col-sm-6">
                        <div class="dropdown">
                            <a class="dropdown-toggle" id="dropdownStart" role="button" data-toggle="dropdown"
                               data-target="#" href="#">
                                <div class="input-group">
                                    <input type="text" class="form-control"
                                           data-ng-model="vm.chartParams.startTimeStamp">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker data-ng-model="vm.chartParams.startTimeStamp"
                                                data-datetimepicker-config="{ dropdownSelector: '#dropdownStart' }"/>
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-sm-2 control-label">End</label>

                    <div class="col-sm-6">

                        <div class="dropdown">
                            <a class="dropdown-toggle" id="dropdownEnd" role="button" data-toggle="dropdown"
                               data-target="#" href="#">
                                <div class="input-group">
                                    <input type="text" class="form-control"
                                           data-ng-model="vm.chartParams.endTimeStamp">
                                        <span class="input-group-addon"><i
                                                class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker data-ng-model="vm.chartParams.endTimeStamp"
                                                data-datetimepicker-config="{ dropdownSelector: '#dropdownEnd' }"/>
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-sm-2 control-label">Time Period:</label>

                    <div class="col-sm-6">
                        <input type="text" ng-model="vm.chartParams.dateRange" readonly disbabled/></p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>

                    <div class="col-sm-6">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="vm.chartParams.updateEndTimeStampToNow"
                                       ng-click="vm.autoRefresh()"> Refresh (every 10s)
                            </label>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary" ng-disabled="!chartForm.$valid">Refresh</button>
                    </div>
                </div>
            </form>
        </div>

        <!--<relative-time-range-button-bar start-time-stamp="vm.chartParams.startTimestamp" end-time-stamp="chartParms.endTimeStamp"></relative-time-range-button-bar>-->


        <div id="stackedBarChart" style="height:270px">
            <!-- HINT: colors for the chart can be changed in the d3-chart.css -->
            <rhqm-stacked-bar-chart
                    data="{{vm.chartData.dataPoints}}"
                    previous-range-data="{{vm.chartData.prevDataPoints}}"
                    chart-type="{{vm.chartParams.chartType}}"
                    show-avg-line="{{vm.chartParams.showAvgLine}}"
                    chart-title="{{'Metrics Id: '+vm.chartParams.searchId}}"
                    chart-height="250"></rhqm-stacked-bar-chart>
        </div>

        <div style="margin-top: 30px;">
            <button class="btn btn-sm" ng-click="vm.showPreviousTimeRange()" style="margin-left:90px;"
                    ng-show="vm.chartData.dataPoints.length > 0">&lt;&lt; Prev.
            </button>
            <button class="btn btn-sm" style="float:right;margin-right: 90px;" ng-click="vm.showNextTimeRange()"
                    ng-show="vm.chartData.dataPoints.length > 0" ng-disabled="!vm.hasNext();">Next &gt;&gt;</button>
        </div>
        <br/>
        <br/>

        <div class="form-group" ng-show="vm.chartData.dataPoints.length > 0">

            <label class="col-sm-2 control-label">Chart Type:</label>

            <div class="col-sm-10">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary btn-sm"
                            ng-model="vm.chartParams.chartType" btn-radio="value"
                            ng-repeat="value in vm.chartParams.chartTypes"
                            >{{value}}
                    </button>
                </div>
            </div>

        </div>


        <div class="form-group" ng-show="vm.chartData.dataPoints.length > 0" style="margin-top: 15px;">
            <label class="col-sm-2 control-label">Features:</label>

            <div class="col-sm-10">
                <div class="btn-group" ng-show="vm.chartData.dataPoints.length > 0">
                    <label class="btn btn-primary btn-sm" ng-model="vm.chartParams.showAvgLine" btn-checkbox>Show Avg.
                        Line</label>
                    <label class="btn btn-primary btn-sm" ng-model="vm.chartParams.showPreviousRangeDataOverlay" btn-checkbox
                           ng-click="vm.togglePreviousRangeDataOverlay()">Overlay Prev. Range</label>
                </div>

            </div>
        </div>

        <button class="btn btn-sm" ng-click="vm.toggleTable()" ng-show="vm.chartData.dataPoints.length > 0">
            {{vm.chartParams.tableButtonLabel}}
        </button>

        <!--<button type="button" class="btn btn-sm" ng-model="vm.chartParams.showAvgLine"-->
        <!--ng-show="vm.chartData.dataPoints.length > 0" btn-checkbox >-->
        <!--Show Avg. Line-->
        <!--</button>-->


        <!--<button class="btn btn-sm" ng-click="vm.togglePreviousRangeDataOverlay()"-->
        <!--ng-show="vm.chartData.dataPoints.length > 0">-->
        <!--Overlay Previous Range-->
        <!--</button>-->

        <div collapse="vm.chartParams.collapseTable" ng-show="vm.chartData.dataPoints.length > 0">
            <h4>Data Points: {{vm.chartData.dataPoints.length}}</h4>
            <table class="table table-hover" style="width:500px;">
                <thead>
                <tr>
                    <th> Time</th>
                    <th> Avg</th>
                    <th> Min</th>
                    <th> Max</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="chartPoint in vm.chartData.dataPoints | orderBy:timestamp:true">
                    <td>{{chartPoint.date | date: 'medium'}}</td>
                    <td>{{chartPoint.avg|number:2}}</td>
                    <td>{{chartPoint.min|number:2}}</td>
                    <td>{{chartPoint.max|number:2}}</td>
                </tr>

                </tbody>

            </table>
        </div>
    </div>
</div>