<p class="text-muted">Quickly add some data to rhq-metrics.</p>

<form class="form-horizontal" name="quickInsertForm" role="form" style="height:135px;" novalidate>
    <div class="form-group">
        <label for="quickInsertIdText" class="col-sm-1 control-label">ID</label>

        <div class="col-sm-2">
            <input type="text" class="form-control" id="quickInsertIdText" name="quickInsertIdText"
                   ng-model="vm.quickInsertData.id"
                   required
                   placeholder="Enter Id...">
            <span class="help-block">Example: 100, SERVER2.CPU1 </span>
        </div>

        <label for="quickInsertValueText" class="col-sm-1 control-label">Value</label>

        <div class="col-sm-3">
            <input type="number" class="form-control" id="quickInsertValueText" name="quickInsertValueText"
                   ng-model="vm.quickInsertData.value"
                   required
                   ng-enter="vm.quickInsert();"
                   placeholder="Enter Value...">
            <span class="help-block">Example: 100, 5.25, 5000  </span>
        </div>


        <div class="col-sm-3">
            <div class="btn-group" ng-disabled="!quickInsertForm.$valid" dropdown>
                <button type="button" class="btn btn-primary" ng-disabled="!quickInsertForm.$valid"
                        ng-click="vm.quickInsert()">Insert Data
                </button>
                <button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="!quickInsertForm.$valid">
                    <span class="caret"></span>
                    <span class="sr-only">Insert Data</span>
                </button>
                <ul class="dropdown-menu" role="menu" ng-disabled="!quickInsertForm.$valid">
                    <li><a href="#" ng-click="vm.quickInsert()">Now</a></li>
                    <li><a href="#" ng-click="vm.quickInsert(1)">1 Hour Ago</a></li>
                    <li><a href="#" ng-click="vm.quickInsert(4)">4 Hours Ago</a></li>
                    <li><a href="#" ng-click="vm.quickInsert(8)">8 Hours Ago</a></li>
                </ul>
            </div>
            <span class="help-block">Default is Now</span>
        </div>

    </div>

</form>
