<div>

    <script type="text/ng-template" id="configModal.inline">
        <div class="modal-header">
            <h3 class="modal-title">Configuration Settings</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" name="configForm" role="form" novalidate>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Server</label>

                    <div class="col-sm-4">
                        <input type="text" class="form-control" ng-model="$storage.server" required
                               ng-minlength="3" placeholder="Enter Server...">
                        <span class="help-block">Example: localhost, 10.15.23.71  </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Port</label>

                    <div class="col-sm-4">
                        <input type="text" class="form-control" ng-model="$storage.port" required
                               ng-minlength="2" placeholder="Enter Port...">
                        <span class="help-block">Example: 8080, 80  </span>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-disabled="!configForm.$valid" ng-click="vm.ok()">OK</button>
            <button class="btn" ng-click="vm.cancel()">Cancel</button>
        </div>
    </script>

</div>
