
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header" ng-controller="ConfigController" >
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">RHQ Metrics Console</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" ng-click="vm.openConfig()">Settings</a></li>
            </ul>
            <!--<form class="navbar-form navbar-right">-->
                <!--<input type="text" class="form-control" placeholder="Quick Chart...">-->
            <!--</form>-->
        </div>
    </div>
</div>

<div class="container-fluid" >
    <div class="form-group">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar" ng-controller="SidebarController as vm">

                <h4 class="sub-header">Metrics<span class="badge" style="margin-left: 5px;">{{vm.allMetrics.length}}</span> <button type="button" class="btn btn-primary btn-xs"  ng-click="vm.populateMetricsSidebar()">Refresh </button></h4>
                <ul class="nav nav-sidebar"
                    ng-repeat="metric in vm.allMetrics">
                    <li>
                            <label class="checkbox-inline">
                                <input type="checkbox"  ng-model="metric.selected" ng-click="vm.showChart(metric.title)"/> {{metric.title}}
                            </label>
                    </li>

                </ul>
            </div>

            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h3 class="sub-header">Dashboard<span class="badge" style="margin-left: 5px;">23</span></h3>

            </div>
        </div>
    </div>
</div>

