
<nav class="navbar navbar-default navbar-pf" role="navigation" ng-include="'views/nav-header.tpl.html'"></nav>

<div class="container-fluid" ng-controller="DashboardController as vm">
    <div class="row">

        <div class="col-sm-9 col-md-10 col-sm-push-3 col-md-push-2" ng-include="'views/main-dashboard.tpl.html'"></div>

        <div class="col-sm-3 col-md-2 col-sm-pull-9 col-md-pull-10 sidebar-pf sidebar-pf-left" ng-include="'views/sidebar.tpl.html'" style="height: 100%"></div>

    </div>
</div>