<div class="panel panel-default" style="width:880px" ng-controller="ChartController">
    <div class="panel-body">
        <div class="well">
            <small style="margin-left: 15px" class="graphDateTimeRangeLabel"></small>

            <form class="form-horizontal" role="form">

                <div class="form-group">
                    <label class="col-sm-2 control-label">ID</label>

                    <div class="col-sm-5">
                        <input type="text" class="form-control" ng-model="restParams.searchId"
                               placeholder="Enter Id...">
                        <span class="help-block">Example: 100, apache3.cpu  </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Start</label>

                    <div class="col-sm-6">
                        <div class="dropdown">
                            <a class="dropdown-toggle" id="dropdownStart" role="button" data-toggle="dropdown"
                               data-target="#" href="#">
                                <div class="input-group">
                                    <input type="text" class="form-control"
                                           data-ng-model="restParams.startTimeStamp">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker data-ng-model="restParams.startTimeStamp"
                                                data-datetimepicker-config="{ dropdownSelector: '#dropdownStart' }"/>
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-sm-2 control-label">End</label>

                    <div class="col-sm-6">

                        <div class="dropdown">
                            <a class="dropdown-toggle" id="dropdownEnd" role="button" data-toggle="dropdown"
                               data-target="#" href="#">
                                <div class="input-group">
                                    <input type="text" class="form-control"
                                           data-ng-model="restParams.endTimeStamp">
                                        <span class="input-group-addon"><i
                                                class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker data-ng-model="restParams.endTimeStamp"
                                                data-datetimepicker-config="{ dropdownSelector: '#dropdownEnd' }"/>
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" class="btn btn-primary"
                                ng-click="refreshChartData()">Refresh
                        </button>
                    </div>
                </div>


            </form>
        </div>

        <div id="stackedBarChart" style="height:270px">
            <rhqm-stacked-bar-chart
                    data="{{chartData.dataPoints}}"
                    yaxis-units=""
                    chart-title="{{'Metrics Id: '+restParams.searchId}}"
                    chart-height="250"
                    chart-hover-date-format="%m/%d/%y"
                    chart-hover-time-format="%I:%M:%S %p"
                    time-label="Time"
                    date-label="Date"
                    buttonbar-datetime-format="MM/DD/YYYY h:mm a"
                    single-value-label="Raw Value"
                    no-data-label="No Data"
                    aggregate-label="Aggregate"
                    start-label="Start"
                    end-label="End"
                    duration-label="Duration"
                    min-label="Min"
                    max-label="Max"
                    avg-label="Avg"></rhqm-stacked-bar-chart>
        </div>


        <div ng-show="chartData.dataPoints.length > 0">
            <h4>Data Points: {{chartData.dataPoints.length}}</h4>
            <table class="table table-hover" style="width:500px;">
                <thead>
                <tr>
                    <th> Time</th>
                    <th> Avg</th>
                    <th> Min</th>
                    <th> Max</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="chartPoint in chartData.dataPoints | orderBy:timestamp:true">
                    <td>{{chartPoint.date | date: 'medium'}}</td>
                    <td style="float:right;">{{chartPoint.avg|number:2}}</td>
                    <td style="float:right;">{{chartPoint.min|number:2}}</td>
                    <td style="float:right;">{{chartPoint.max|number:2}}</td>
                </tr>

                </tbody>

            </table>
        </div>
    </div>
</div>