<div class="panel panel-default" style="width:880px" ng-controller="InsertMetricsController">

    <div class="panel-body">

        <accordion>
            <accordion-group heading="Quick Insert" is-open="showOpenGroup">
                <p class="text-muted">Quickly add some data to rhq-metrics.</p>

                <form class="form-horizontal" role="form" style="height:135px;">
                    <div class="form-group">
                        <label for="quickInsertIdText" class="col-sm-1 control-label">ID</label>

                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="quickInsertIdText"
                                   ng-model="quickInsertData.id"
                                   placeholder="Enter Id...">
                            <span class="help-block">Example: 100, CPU1, FOO </span>
                        </div>

                        <label for="quickInsertValueText" class="col-sm-1 control-label">Value</label>

                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="quickInsertValueText"
                                   ng-model="quickInsertData.value"
                                   placeholder="Enter Value...">
                            <span class="help-block">Example: 100, 5.25, 5000  </span>
                        </div>


                        <div class="col-sm-3">
                            <div class="btn-group" dropdown>
                                <button type="button" class="btn btn-primary" ng-click="quickInsert()">Insert Data
                                </button>
                                <button type="button" class="btn btn-primary dropdown-toggle">
                                    <span class="caret"></span>
                                    <span class="sr-only">Insert Data</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#" ng-click="quickInsert()">Now</a></li>
                                    <li><a href="#" ng-click="quickInsert(1)">1 Hour Ago</a></li>
                                    <li><a href="#" ng-click="quickInsert(4)">4 Hours Ago</a></li>
                                    <li><a href="#" ng-click="quickInsert(8)">8 Hours Ago</a></li>
                                </ul>
                            </div>
                            <span class="help-block">Default is Now</span>
                        </div>


                    </div>

                </form>
            </accordion-group>


            <accordion-group heading="Raw Json Insert (multiple)">
                <p class="text-muted">Bulk insert a bunch of records.</p>

                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="insertId" class="col-sm-2 control-label">ID</label>

                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="insertId" ng-model="multiInsertData.id"
                                   placeholder="Enter Id...">
                            <span class="help-block">Example: 100, apache3.cpu  </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="jsonText" class="col-sm-2 control-label">Raw Json</label>

                        <div class="col-sm-10">
                            <textarea id="jsonText" ng-model="multiInsertData.jsonPayload" rows="6"
                                      class="form-control" placeholder="Enter Json here..."
                                    ></textarea>
                            <span class="help-block">Example:  {"value": 33, "timestamp":1402969658681}, {"value": 40, "timestamp":1402966107760} </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="button" ng-click="multiInsert()" class="btn btn-primary">Insert Data
                            </button>
                        </div>
                    </div>

                </form>
            </accordion-group>


            <accordion-group heading="Advanced Range Insert">
                <p class="text-muted">Under construction. Create Historical data by inserting random values of data for
                    a date range every X
                    minutes/hours</p>

            </accordion-group>


            <accordion-group heading="Streaming Metrics">
                <p class="text-muted">Under construction. Create streaming metrics into the future that generate random
                    numbers every X minutes </p>

            </accordion-group>

        </accordion>


    </div>
</div>