<div class="well well-sm" style="margin-right:10px">
    <div class="row">
        <div class="col-md-12">
            <div class="btn-group">
                <button type="button" class="btn btn-primary btn-small"
                        ng-model="dateTimeRangeButtonBarModel.graphTimeRangeSelection" btn-radio="value.range"
                        ng-click="handleGraphTimeRangeSelection()" ng-repeat="value in dateTimeRanges">{{value.range}}
                </button>
            </div>
        </div>
    </div>
</div>