<module xmlns="urn:jboss:module:1.0" name="org.rhq.metrics.clients.wildflySender">
    <resources>
        <resource-root path="clients-common-0.2.3-SNAPSHOT.jar"/>
        <resource-root path="scheduler-0.0.6-SNAPSHOT.jar"/>
        <resource-root path="metrics-core-3.1.0.jar"/>
        <resource-root path="slf4j-api-1.7.7.jar"/>
        <resource-root path="guava-18.0.jar"/>
        <resource-root path="influxdb-java-1.2.jar"/>
        <resource-root path="retrofit-1.6.0.jar"/>
        <resource-root path="gson-2.2.4.jar"/>
        <resource-root path="okhttp-2.0.0.jar"/>
        <resource-root path="okio-1.0.0.jar"/>
        <resource-root path="okhttp-urlconnection-2.0.0.jar"/>
        <resource-root path="wildfly-sender.jar"/>
    </resources>

    <dependencies>
        <module name="javax.api"/>
        <module name="org.jboss.staxmapper"/>
        <module name="org.jboss.as.controller"/>
        <module name="org.jboss.as.server"/>
        <module name="org.jboss.modules"/>
        <module name="org.jboss.msc"/>
        <module name="org.jboss.logging"/>
        <module name="org.jboss.vfs"/>
        <module name="org.jboss.as.threads"/>
        <module name="org.jboss.threads"/>
        <module name="org.wildfly.security.manager"/>
        <module name="org.codehaus.jackson.jackson-core-asl"/>
        <module name="org.apache.httpcomponents"/>
        <module name="sun.jdk" /> <!-- access to sun.misc.Unsafe -->
    </dependencies>
</module>
